@model UtmaningenReg.Rabatt

@{
    ViewBag.Title = "Edit";
}

@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Rabatt</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Kod)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Kod)
            @Html.ValidationMessageFor(model => model.Kod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Summa)
            @Html.ValidationMessageFor(model => model.Summa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Beskrivning)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Beskrivning)
            @Html.ValidationMessageFor(model => model.Beskrivning)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
