@model IEnumerable<UtmaningenReg.Rabatt>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Kod
        </th>
        <th>
            Summa
        </th>
        <th>
            Beskrivning
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beskrivning)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Tillbaka till registreringarna", "Index", "Home")
